*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: darkgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#myCanvas {
    background: lightgrey;
}
#verticalButtons {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}
button:hover {
    background: blue;
}

div.info-box {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid black;
    padding: 15px;
    padding-right: 100px;
}
div.col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
div.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
p {
    font-size: 20px;
}
.separator {
    display: block;
    height: 1px;
    width: calc(100% + 115px);
    margin: 20px 0 20px 0;
    background-color: black;
    transform: translateX(-15px);
}