*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: darkgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}
button:hover {
    background: blue;
}

#myCanvas {
    background: lightgrey;
}

div.stats {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid black;
    padding: 15px;
    padding-right: 100px;
}

div.stats h3, div.stats p {
    display: inline;
}
